<p>Add a new definition:</p>

<form action="/definitions" method="post">
  <label for="defineWord">Definition</label>
  <input id="defineWord" name="defineWord" type="text">
  <label for="userName">Enter your username</label>
  <input id="userName" name="userName" type="text">

  <button type="submit" class="btn btn-default">Add definition and username</button>
</form>
