<div class ="jumbotron">
  <h1> Add a Word <h1>

  <form action="/" method="post">
    <label for="setWord">What is your word?</label>
    <input id="setWord" name="setWord" type="text">
    <button type="submit" class="btn btn-success">Add Word</button>
  </form>
</div>
