<h1>Add a definition to $word.setWord()</h1>

<form action="/definitions" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">

  <div class="form-group">
    <label for="defineWord">Definition</label>
    <input id="defineWord" name="defineWord" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add definition</button>
</form>
